<!--Moving Tools-->
<div class="row">
    <div class="col-sm-12">
        <div class="card" style="border: none;">
            <div class="card-body">
                <div id="move1">
                    <marquee class="blink" direction="right">Offer is Going on Check it Out</marquee>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Offer comppnents-->
<div class="row">
    <div class="col">
        <div class="card" style="border: none;">
            <marquee>
                <app-offer></app-offer>
            </marquee>
        </div>
    </div>
</div>
<!--Cards for Mobile-->
<div class="row">
    <!--First column-->
    <div class="col-sm-2">
    </div>
    <!--Second Column-->
    <div class="col-sm-6 mt-4 mb-4 mr-4">
        <app-mobile-child [mobile_product]="m_Mobile" *ngFor="let m_Mobile of p_mobile"></app-mobile-child>
    </div>
    <!--Third column-->
    <div class="col-sm-4">
        <iframe style="margin-left: 40px;" width="300" height="250" src="https://www.youtube.com/embed/e0E6-dRPcJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        <iframe style="margin-left: 40px;" width="300" height="250" src="https://www.youtube.com/embed/e0E6-dRPcJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>