<!--<div class="col-lg-3 col-md-6 mb-4 mb-lg-0" *ngFor="let dress_pants of d_pants" >
<div style="float: left;">
  <div class="card rounded shadow-sm mt-2 mb-3">
    <div class="card-body p-4"><img [src]="dress_pants.img" alt="" class="img-fluid d-block mx-auto mb-3" style="height: 240px;">
      <h5> <a href="#" class="text-dark"></a></h5>
      <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
</div>-->
<div class="row container" style="padding-left: 130px;">
<div class="row">
<div class="col">

</div>
</div>
<div class="col-sm-4 mt-2 mb-2" *ngFor="let dress_pants of d_pants">
  <!-- Card-->
  <div class="card rounded shadow">
    <div class="card-body p-4"><img src="{{dress_pants.img}}" alt="" class="img-fluid d-block mx-auto mb-3" style="height: 150px; width: 150px; text-align: center;">
      <h5>{{dress_pants.pname}}</h5>
      <p class="small font-italic">{{dress_pants.pdescription}}</p>
      <h5>Price: {{dress_pants.price | currency: 'INR'}}</h5>
      <ul class="list-inline small">
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
      </ul>
      <app-quntity></app-quntity>
    </div>
  </div>
</div>
</div>
